body {
    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #EEE;
    background-color: #000000;
}

.btn-default {
    border: 1px solid #FF2142;
    color: #EEE;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #FF2142;
    outline: 0;
    color: #FF2142;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn {
    border-radius: 0;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}